section.banner
	.container.banner__container
		h2.title.banner__title The evolution of scent is here
		.banner__descr
			h3.banner__caption The aromence mission:
			p.banner__text Creating the perfect scent in your home can be a hassle from spilled oils and repeated attempts to pick the scent that suit your needs. We at Aromence are confident that our products will create the perfect environment without the hassle.
		button.btn.banner__btn Go to catalog