extends ../layout/main

block variables
	- var title = 'Aromence';
	- var description = 'My own Aromence';
	- var pageClass = 'index-page';
	- var author = 'Kostyantin';



block content
	include ../includes/modules/header
	include ../includes/modules/banner



	//- include components/footer
